body.dark {
    background: #1e1e1e;
    color: #fff;
}

body.light {
    background: #fff;
    color: #000;
}

.drop-area {
    border: 2px dashed #888;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.drop-area.dragover {
    background: #4c8bf5;
    color: white;
    border-color: #fff;
}

.file-row {
    background: #333;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

#fileList .file-item {
    background: #262626;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.thumbnail {
    width: 70px;
    height: 90px;
    border: 1px solid #444;
}

.file-details {
    flex-grow: 1;
}

.file-details input {
    margin-top: 5px;
}
